@model LatestECommerce.Models.CustomerModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Create Customer</h1>
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber1" class="control-label"></label>
            <input asp-for="PhoneNumber1" class="form-control" />
            <span asp-validation-for="PhoneNumber1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber2" class="control-label"></label>
            <input asp-for="PhoneNumber2" class="form-control" />
            <span asp-validation-for="PhoneNumber2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>